.footer {
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 1vh;
    background-color: #020202;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom:0;
   
}
  